.chat-thread {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > h3 {
        text-align: end;
    }

    &__listing {
        flex-grow: 1;
        overflow: auto;
        & > div {
            min-height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &__message {
        width: 80%;
        padding: 20px;
        margin: 5px 0;
        box-shadow: $cardShadow;
        border-radius: 10px;
        margin-left: auto;

        &--second-person {
            background: linear-gradient(333deg, rgb(0, 0, 0) 0%, rgb(123, 128, 119) 33%, rgb(9, 6, 6) 100%);
            color: #ffffff;
            margin-right: auto;
            margin-left: 0;
        }
    }

    & > form {
        display: flex;
        gap: 10px;

        input {
            flex-grow: 1;
            min-height: 56px;
            font-size: 16px;
            color: $lunarGreen;
            padding: 0px 10px;
            outline: auto;
            border-radius: 10px;
            outline-color: $black;
        }

        button {
            padding: 0 25px;
            border-radius: 10px;
            background: black;
            color: white;
            font-size: 18px;
        }
    }
}
