$dropdownShadow: 2px 2px 4px $gainsboro, -2px 0px 4px rgba($gainsboro, 0.2);
$popupShadow: -1px -1px 6px 0px rgba($black, 0.2), 8px 6px 6px -6px rgba($black, 0.2);
$screenshotShadow: 2px 2px 5px 0 rgba($black, 0.2);
$cardShadow: rgba(100, 100, 111, 0.4) 0px 7px 16px 0px;
$mapShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$phoneFlagShadow: -2px 2px 2px -2px rgba($black, 0.4);
$pageHeaderBoxShadow: 0px 3px 6px rgba($dark, 0.2);
