$white: #ffffff;
$black: #000000;
$red: #ff0000;
$gainsboro: #e7e7e7;
$gray: #808080;
$silverChalice: #a9a9a9;
$jungleGreen: #34b771;
$concrete: #f2f2f2;
$zest: #e67d18;
$oysterBay: #d2faff;
$grey: #707070;
$lightGrey: #d3d3d3;
$brightOrange: #d96e21;
$dark: #000029;
$bondBlue: #0789ab;
$electricViolet: #5710d5;
