$white: #ffffff;
$black: #000000;
$gainsboro: #e7e7e7;
$jungleGreen: #34b771;
$zest: #e67d18;
$grey: #707070;
$dark: #000029;
$bondBlue: #0789ab;
$cadmiumGreen: #066d37;
$lunarGreen: #414941;
$thunderBird: #ba1b1b;
