.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 84px;
    width: 100%;
  
    & input {
      width: 100%;
      box-sizing: border-box;
      min-height: 56px;
      font-size: 16px;
      color: $lunarGreen;
      padding: 0px 10px;
      outline: auto;
      border-radius: 10px;
      outline-color: $black;
      transition: border-color 0.2s;
    }
  
    & input:focus ~ &__label {
      top: -6px;
      font-size: 12px;
    }
  
    &__label {
      position: absolute;
      cursor: text;
      color: $black;
      background: $white;
      margin-left: 16px;
      padding: 0 4px;
      transition: top 0.2s, font-size 0.2s;
      font-weight: 400;
  
      &--focused {
        top: -6px !important;
        font-size: 12px !important;
      }
  
      &--blured {
        top: 22px;
        font-size: 16px;
      }
    }
  
    &__message {
      color: $black;
      margin-left: 20px;
      font-size: 12px;
      padding: 5px 0;
    }
  
    &--error {
      & input {
        color: $thunderBird !important;
        outline-color: $thunderBird !important;
      }
  
      .input-group {
        &__message,
        &__label {
          color: $thunderBird !important;
        }
      }
    }
  }
  