.icon-button {
    background: none;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
    &:active {
        opacity: 0.7;
    }
    svg {
        width: 24px;
        height: auto;
    }
}
